<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>

</head>
<body>
<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script th:src="@{/js/easyui/jquery.easyui.min.js}"></script>
<script th:src="@{/js/easyui/locale/easyui-lang-zh_CN.js}"></script>
<link rel="stylesheet" th:href="@{/js/easyui/themes/icon.css}">
<link rel="stylesheet" th:href="@{/js/easyui/themes/default/easyui.css}">
<table id="myTable"></table>


</body>
<script type="text/javascript">
    //页面初始化加载
    $(function(){
        alert("1111");
    })

</script>
</html>